@{
    ViewBag.Title = "About US";
}

<hgroup class="title">
    <h1>"ABOUT US"</h1>
 
</hgroup>

<article>
    <p>
    
Peakz Art is formed in 2006 by the Director Preklathan s/o Kesavan Chellappan as part of the effort to promote Art in South Asian and Southeast Asia.

Peakz Art is committed to cultivating and nurturing both pioneers artists such as Sivaperakas and Pandian as well as promising artists based on the selection of artworks.

It has taken part in various Art Fair in India, Malaysia and worked in galleries in Europe. It has valuable links with strong local patrons in India, Singapore and the regions.

It has plans to expand the frontiers and bring both contemporary art and Artists from India, Singapore and Indonesia to jettison into the promising world art market.
    </p>

</article>

