@{
    ViewBag.Title = "AboutUs";
}

<div class="content aligncenter">
    <img class="aboutboximg" src="~/Images/RESZIMGS/TIT_002.jpg" />
    <div class="vline"></div>      
    <div class="aboutbox">
        <h2 class="aboutHeader">About Us</h2>
        <p>Mughapu is formed in 2006 by the Director as part of the effort to promote Art in South Asian and Southeast Asia.</p>  
        <p>Mughapu is committed to cultivating and nurturing both pioneers artists such as well as promising artists based on the selection of artworks.</p>
        <p>It has taken part in various Art Fair in India, Malaysia and worked in galleries in Europe.  It has valuable links with strong local patrons in India, Singapore and the regions.</p>
        <p>It has plans to expand the frontiers and bring both contemporary art and Artists from India, Singapore and Indonesia to jettison into the promising world art market.</p>
    </div>
</div>