body {
	font: 10px normal Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
.containermenu { width: 68.8em;
  display:block; 
  margin:0 auto;}

ul#topnav {
	padding:20;
     margin-top:3em;
    margin-right:1em;
    margin-bottom:0px;
   

	float: left;
	width: 970px;
	list-style: none;
	position: relative;
	font-size: 1.2em;
	background:url(images/topnav_s.gif) repeat-x;
}
#topnav ul:before {
  content: '';
  display: block;
}
#topnav ul:after {
  content: '';
  display: table;
  clear: both;
}
ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	border-right: 1px solid #b2c58b;
    z-index: 10000;
}
ul#topnav li a {
	padding: 10px 15px;
	display: block;
	color: #b2c58b;
	text-decoration: none;
}
ul#topnav menu-wrapper-on-the-top{
    z-index:99999;
}
ul#topnav li:hover { background: #1376c9 url (images/topnav_a.gif) repeat-x; }
ul#topnav li span {
	float: left;
	padding: 15px 0;
	position: absolute;
	left: 20; top:35px;
	display: none;
	width: 600px;
	background: #1376c9;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
    z-index: 10000;
}
ul#topnav li:hover span { display: block; }
ul#topnav li span a { display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}
